<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>714566311177-sjqa01se4t4biqhu7a494uif0hb9lqku.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.714566311177-sjqa01se4t4biqhu7a494uif0hb9lqku</string>
	<key>API_KEY</key>
	<string>AIzaSyDZvoeOuCkUNiWwmKRSp9Q5cZeH4uMZgvU</string>
	<key>GCM_SENDER_ID</key>
	<string>714566311177</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>responsive.responsive</string>
	<key>PROJECT_ID</key>
	<string>fluttertest2-518ac</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttertest2-518ac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:714566311177:ios:e9bf5be58dd2ac0608c7d8</string>
	<key>DATABASE_URL</key>
	<string>https://fluttertest2-518ac.firebaseio.com</string>
</dict>
</plist>